In [ ]:
import pandas as pd
import os
import openpyxl
import matplotlib.pyplot as plt

In [ ]:
from dataprocessing import process_and_clean_data
dataframes = process_and_clean_data()

In [ ]:
table_5_1 = dataframes["education_51_2333"]
table_5_2 = dataframes["education_52_2333"]
table_5_3 = dataframes["education_53_2333"]
table_5_4 = dataframes["education_54_2333"]

In [ ]:
table_5_1.info()

In [ ]:
# file_path2 = "2023-33/education.xlsx"
# # Postpandemic workbook
# post_pandemic_data = openpyxl.load_workbook(file_path2)

In [ ]:
# table_5_1 = post_pandemic_data["Table 5.1"]
# table_5_2 = post_pandemic_data["Table 5.2"]
# table_5_3 = post_pandemic_data["Table 5.3"]
# table_5_4 = post_pandemic_data["Table 5.4"]

In [ ]:
# The code provided defines two functions:
# # # Function to get and display column names
# # def get_column_names(df):
# #     print("Column Names:")
# #     column_names = df.columns.tolist()
# #     print(column_names)
# #     return column_names

# # # Function to get and display rows of a specific column
# # def get_specific_column_rows(df, column_name, num_rows=5):
# #     if column_name not in df.columns:
# #         print(f"Error: Column '{column_name}' not found in the DataFrame.")
# #         return
# #     print(f"\nRows for Column '{column_name}':")
# #     print(df[column_name].head(num_rows))

In [ ]:
# def preprocess_table_and_title(df):
#     # Extract the title from the first row
#     table_title = df.iloc[0,0]  # Assuming the title is in the first cell
#     print(f"Table Title: {table_title}")
    
#     # Set the second row as column headers
#     df.columns = df.iloc[1]  # Use the second row as column headers
#     df = df[2:].reset_index(drop=True)  # Drop the first two rows
#     return table_title, df

# # Preprocess the tables (if necessary)
# table_5_1 = preprocess_table_and_title(table_5_1)

In [ ]:
def processTable(df):
    # Output the title, assuming the title is in the first row of the DataFrame
    table_title = df.iloc[0, 0]  # First cell in the DataFrame
    print(f"Table Title: {table_title}")
    
    # Output the column names
    column_names = df.columns.tolist()
    print("Column Names:")
    print(column_names)
    
    # Output the data starting from the third row
    print("\nRow Data:")
    for index, row in df.iterrows():
        row_values = row.tolist()
        print(row_values)

# Process Table 5.1
processTable(table_5_1)

In [ ]:
table_5_1

In [ ]:
import seaborn as sns

columns = table_5_1.columns  # The first row contains column names
data = table_5_1[1:]    # The remaining rows are the actual data

df_table_5_1 = pd.DataFrame(data, columns=columns)

sns.set(style="whitegrid")

education = df_table_5_1['Educational attainment']
unemployment_rate = df_table_5_1['Unemployment rate (%)']

# Create the plot
plt.figure(figsize=(10, 6))
plt.barh(education, unemployment_rate, color='skyblue')

# Add title and labels
plt.title("Unemployment Rates by Educational Attainment (2023)", fontsize=16)
plt.xlabel("Unemployment Rate (%)", fontsize=12)
plt.ylabel("Educational Attainment", fontsize=12)

# Show the plot
plt.tight_layout()
plt.show()

In [ ]:
df_table_5_1 = pd.DataFrame(data, columns=columns)

sns.set(style="whitegrid")

education = df_table_5_1['Educational attainment']
unemployment_rate = df_table_5_1['Median usual weekly earnings ($)']

# Create the plot
plt.figure(figsize=(10, 6))
plt.barh(education, unemployment_rate, color='skyblue')

# Add title and labels
plt.title("Median usual weekly earnings ($) by Educational Attainment (2023)", fontsize=16)
plt.xlabel("Median usual weekly earnings ($)", fontsize=12)
plt.ylabel("Educational Attainment", fontsize=12)

# Show the plot
plt.tight_layout()
plt.show()

In [ ]:
processTable(table_5_2)

In [ ]:
# def extract_table5_2_data(sheet):
#     data = []
#     for row in sheet.iter_rows(min_row=1, max_row=sheet.max_row, min_col=1, max_col=sheet.max_column):
#         row_values = [cell.value for cell in row]
#         # Skip metadata rows
#         if (
#             not row_values[0] or  # Skip rows with no label
#             row_values[0].startswith("Table") or  # Skip title row
#             row_values[0] in ("Footnotes:", "[1]") or  # Skip footnote rows
#             row_values[0].startswith("Note:") or  # Skip notes
#             row_values[0].startswith("Source:")  # Skip source
#         ):
#             continue
#         # Ensure all data rows have meaningful values
#         if row_values[1] is not None:
#             data.append(row_values)
#     return data

# # Extract relevant data
# processed_data2 = extract_table5_2_data(table_5_2)

# # Remove "Total, all occupations"
# filtered_data2 = [row for row in processed_data2 if row[0] != "Total, all occupations"]

In [ ]:
columns2 = table_5_2.columns  # The first row contains column names
data2 = table_5_2[1:]    # The remaining rows are the actual data

df_table_5_2 = pd.DataFrame(data2, columns=columns2)

In [ ]:
df_table_5_2

In [ ]:
import seaborn as sns

sns.set(style="whitegrid")

education = df_table_5_2['Typical entry-level education']
empl_distb_2023 = df_table_5_2['Employment distribution, percent, 2023']

# Create the plot
plt.figure(figsize=(10, 6))
plt.barh(education, empl_distb_2023, color='coral')

# Add title and labels
plt.title("Employment Distribution by Education Level in 2023", fontsize=16)
plt.xlabel("Education Levels", fontsize=12)
plt.ylabel("Employment Distribution (%)", fontsize=12)

# Show the plot
plt.tight_layout()
plt.show()

In [ ]:
import seaborn as sns

sns.set(style="whitegrid")

education = df_table_5_2['Typical entry-level education']
empl_distb_2033 = df_table_5_2['Employment distribution, percent, 2033']

# Create the plot
plt.figure(figsize=(10, 6))
plt.barh(education, empl_distb_2033, color='green')

# Add title and labels
plt.title("Estimated Employment Distribution by Education Level in 2033", fontsize=16)
plt.xlabel("Education Levels", fontsize=12)
plt.ylabel("Estimated Employment Distribution (%)", fontsize=12)

# Show the plot
plt.tight_layout()
plt.show()

In [ ]:
import seaborn as sns

sns.set(style="darkgrid")

education = df_table_5_2['Typical entry-level education']
empl_change = df_table_5_2['Percent employment change, 2023-33']

# Create the plot
plt.figure(figsize=(10, 6))
plt.barh(education, empl_change, color='blue')

# Add title and labels
plt.title("Employment Change by Education Level (2023-33)", fontsize=16)
plt.ylabel("Education Levels", fontsize=12)
plt.xlabel("Employment Change (%)", fontsize=12)

# Show the plot
plt.tight_layout()
plt.show()

In [ ]:
import seaborn as sns

sns.set(style="darkgrid")

education = df_table_5_2['Typical entry-level education']
empl_change = df_table_5_2['Median annual wage, dollars, 2023[1]']

# Create the plot
plt.figure(figsize=(10, 6))
plt.barh(education, empl_change, color='purple')

# Add title and labels
plt.title("Median Annual Wage by Education Level (2023)", fontsize=16)
plt.ylabel("Education Levels", fontsize=12)
plt.xlabel("Median Annual Wage (USD)", fontsize=12)

# Show the plot
plt.tight_layout()
plt.show()

In [ ]:
processTable(table_5_3)

In [ ]:
table_5_3

In [ ]:
def extract_total_occupation_data(df):
    """
    Extracts the row corresponding to "Total, all occupations" and returns the relevant data.

    Parameters:
        df (DataFrame): Pandas DataFrame containing the data.

    Returns:
        list: Row data starting from the 3rd column (index 2).
    """
    # Locate the row with "Total, all occupations" in the first column
    row = df[df.iloc[:, 0] == "Total, all occupations"]
    if not row.empty:
        # Return the values starting from the 3rd column (index 2)
        return row.iloc[0, 2:].tolist()
    else:
        print('"Total, all occupations" not found in the DataFrame.')
        return None

# Extracting data
total_occupation_data = extract_total_occupation_data(table_5_3)

# Education levels corresponding to the data
education_levels = [
    "Less than high school diploma",
    "High school diploma or equivalent",
    "Some college, no degree",
    "Associate's degree",
    "Bachelor's degree",
    "Master's degree",
    "Doctoral or professional degree",
]

# Print the result
print("Total Occupation Data:", total_occupation_data)

In [ ]:
print(f"Length of education_levels: {len(education_levels)}")
print(f"Length of total_occupation_data: {len(total_occupation_data)}")

In [ ]:
total_occupation_data = total_occupation_data[:len(education_levels)]

In [ ]:
plt.figure(figsize=(12, 6))
plt.bar(education_levels, total_occupation_data, color='blue', edgecolor='black')
plt.title("Educational Attainment Distribution Percentage (Total, All Occupations, 2023)", fontsize=16)
plt.xlabel("Education Level", fontsize=14)
plt.ylabel("Percentage of Workers", fontsize=14)
plt.xticks(rotation=90, ha='right', fontsize=12)
plt.grid(axis='y', linestyle='--', alpha=0.8)
plt.tight_layout()
plt.show()

In [ ]:
processTable(table_5_4)

In [ ]:
# def extract_table5_4_data_(sheet):
#     data = []
#     for row in sheet.iter_rows(min_row=1, max_row=sheet.max_row, min_col=1, max_col=sheet.max_column):
#         row_values = [cell.value for cell in row]
#         # Skip metadata rows
#         if (
#             not row_values[0] or  # Skip rows with no label
#             row_values[0].startswith("Table") or  # Skip title row
#             row_values[0] in ("Footnotes:", "[1]") or  # Skip footnote rows
#             row_values[0].startswith("Note:") or  # Skip notes
#             row_values[0].startswith("Source:")  # Skip source
#         ):
#             continue
#         # Ensure all data rows have meaningful values
#         if row_values[1] is not None:
#             data.append(row_values)
#     return data

# # Extract relevant data
# data_table_5_4 = extract_table5_4_data_(table_5_4)

In [ ]:
columns4 = table_5_4.columns  # The first row contains column names
data4 = table_5_4[1:]    # The remaining rows are the actual data

df_table_5_4 = pd.DataFrame(data4, columns=columns4)

In [ ]:
df_table_5_4

In [ ]:
df_table_5_4.drop('xlsx_ooh_link', axis=1)
df_table_5_4.drop('2023 National Employment Matrix code', axis=1)

In [ ]:
education_levels = [
    "No formal educational credential",
    "High school diploma or equivalent",
    "Some college, no degree",
    "Associate's degree",
    "Bachelor's degree",
    "Master's degree",
    "Doctoral or professional degree",
]
education_counts = df_table_5_4['Typical education needed for entry'].value_counts()

In [ ]:
education_counts = education_counts.reindex(education_levels, fill_value=0)

# Plotting the distribution
sns.set(style="whitegrid")
plt.figure(figsize=(10, 6))

# Barplot for the education level distribution
plt.bar(education_counts.index, education_counts.values, color='skyblue')

# Title and labels
plt.title("Distribution of Typical Education Needed for Entry (2023)", fontsize=16)
plt.xlabel("Education Level", fontsize=12)
plt.ylabel("Number of Occupation", fontsize=12)

# Rotate x-axis labels for better readability
plt.xticks(rotation=45, ha="right")

# Show the plot
plt.tight_layout()
plt.show()

In [ ]:
df_table_5_4

In [ ]:
# df_table_5_4['Work experience in a related occupation'] = (
#     df_table_5_4['Work experience in a related occupation'].str.strip()
# )

In [ ]:
# Ensure work_exp matches the expected categories in the column
work_exp = ['5 years or more', 'Less than 5 years', 'None']

# Count occurrences in the "Work experience in a related occupation" column
work_counts = df_table_5_4['Work experience in a related occupation'].value_counts()

# Reindex to match the order of work_exp, filling missing values with 0
workexp_counts = work_counts.reindex(work_exp, fill_value=0)

# Plotting the distribution
sns.set(style="whitegrid")
plt.figure(figsize=(10, 6))

# Barplot for the work experience distribution
plt.bar(workexp_counts.index, workexp_counts.values, color='green')

# Add title and labels
plt.title("Distribution of Work Experience Needed for Entry (2023)", fontsize=16)
plt.xlabel("Work Experience Level", fontsize=12)
plt.ylabel("Number of Occupations", fontsize=12)

# Rotate x-axis labels for better readability
plt.xticks(rotation=45, ha="right")

# Show the plot
plt.tight_layout()
plt.show()

In [ ]:
taining_levels = ['None',
            'Moderate-term on-the-job training',
            'Short-term on-the-job training',
            'Long-term on-the-job training',
            'Internship/residency',
            'Apprenticeship']

train_c = df_table_5_4['Typical on-the-job training needed to attain competency in the occupation'].value_counts()

training_counts = train_c.reindex(taining_levels, fill_value=0)

# Plotting the distribution
sns.set(style="whitegrid")
plt.figure(figsize=(10, 6))

# Barplot for the education level distribution
plt.bar(training_counts.index, training_counts.values, color='purple')

# Title and labels
plt.title("Distribution of Work experience in a related occupation (2023)", fontsize=16)
plt.xlabel("Education Level", fontsize=12)
plt.ylabel("Number of Occupation", fontsize=12)

# Rotate x-axis labels for better readability
plt.xticks(rotation=45, ha="right")

# Show the plot
plt.tight_layout()
plt.show()