In [38]:
# Relative path to the Excel file (PRE PANDEMIC)
import pandas as pd
import os
import openpyxl

file_path = "2019-29/education.xlsx"
# Now the post pandemic path
file_path2 = "2023-33/education.xlsx"

# Load the workbook
# Prepandemic workbook
workbook = openpyxl.load_workbook(file_path)
# Postpandemic workbook
workbook2 = openpyxl.load_workbook(file_path2)

In [ ]:
import pandas as pd
import openpyxl

# Load the workbook from the Excel file
file_path = "2019-29/education.xlsx"  # Replace with the correct file path
workbook = openpyxl.load_workbook(file_path)
df = pd.read_excel(file_path, sheet_name="Table 5.2", header=1, nrows=9)

,Typical entry-level education,"Employment, 2019","Employment distribution, percent, 2019","Employment change, percent, 2019-29","Median annual wage, 2020(1)"
4,Associate's degree,3601.6,2.2,6.2,56590
5,Postsecondary nondegree award,10093.2,6.2,5.6,41520
6,"Some college, no degree",4085.0,2.5,-0.1,37770
7,High school diploma or equivalent,62410.0,38.3,1.5,39070
8,No formal educational credential,38694.8,23.8,3.3,27510

In [47]:
# Import the utility module
from education_DataSet_cleaning_extraction import load_table_to_dataframe

# Example usage
file_path = "2019-29/education.xlsx"  # Replace with your actual file path
sheet_name = "Table 5.2"
header_row = 1  # Assuming the header starts at row 2 (1-indexed in Excel)
num_rows = 9  # Number of rows to extract after the header

# Load the table
df_table = load_table_to_dataframe(file_path, sheet_name, header_row, num_rows)

# Display the DataFrame
df_table

,Typical entry-level education,"Employment, 2019","Employment distribution, percent, 2019","Employment change, percent, 2019-29","Median annual wage, 2020(1)"
0,"Total, all occupations",162795.6,100.0,3.7,41950
1,Doctoral or professional degree,4412.8,2.7,5.9,110200
2,Master's degree,2633.9,1.6,15.0,78210
3,Bachelor's degree,36864.2,22.6,6.4,77920
4,Associate's degree,3601.6,2.2,6.2,56590
5,Postsecondary nondegree award,10093.2,6.2,5.6,41520
6,"Some college, no degree",4085.0,2.5,-0.1,37770
7,High school diploma or equivalent,62410.0,38.3,1.5,39070
8,No formal educational credential,38694.8,23.8,3.3,27510