In [2]:
from DataProcessing.education_DataSet_cleaning_extraction import load_table_to_dataframe

In [3]:

file_path = "Datasets/2019-29/education.xlsx"
file_path2 = "Datasets/2023-33/education.xlsx"
file_path3 = "Datasets/2019-29/occupation.xlsx"
file_path5="Datasets/2023-33/occupation.xlsx"
education_52_1929 = load_table_to_dataframe(file_path, "Table 5.2", header_row=1,num_rows=9)
education_53_1929 = load_table_to_dataframe(file_path, "Table 5.3", header_row=1,num_rows=791)
education_54_1929 = load_table_to_dataframe(file_path,"Table 5.4",header_row=1,num_rows=790)
education_51_2333 = load_table_to_dataframe(file_path2, "Table 5.1", header_row=1,num_rows=8)
education_52_2333 = load_table_to_dataframe(file_path2, "Table 5.2", header_row=1,num_rows=9)
education_53_2333 = load_table_to_dataframe(file_path2, "Table 5.3", header_row=1,num_rows=833)
education_54_2333 = load_table_to_dataframe(file_path2,"Table 5.4",header_row=1,num_rows=832)
occupation_11_1929 = load_table_to_dataframe(file_path3, "Table 1.1", header_row=1,num_rows=23)
occupation_11_2333 = load_table_to_dataframe(file_path5, "Table 1.1", header_row=1,num_rows=23)

In [4]:
occupation_11_1929

,2019 National Employment Matrix title,2019 National Employment Matrix code,"Employment, 2019","Employment, 2029","Employment change, numeric, 2019-29","Employment change, percent, 2019-29","Median annual wage, 2020(1)"
0,"Total, all occupations",00-0000,162795.6,168834.7,6039.2,3.7,41950
1,Management occupations,11-0000,10697.2,11202.2,505.0,4.7,109760
2,Business and financial operations occupations,13-0000,9016.3,9492.5,476.2,5.3,72250
3,Computer and mathematical occupations,15-0000,4845.1,5432.4,587.4,12.1,91350
4,Architecture and engineering occupations,17-0000,2728.9,2803.7,74.8,2.7,83160
5,"Life, physical, and social science occupations",19-0000,1460.3,1528.5,68.2,4.7,69760
6,Community and social service occupations,21-0000,2797.7,3146.3,348.6,12.5,47520
7,Legal occupations,23-0000,1335.6,1403.2,67.6,5.1,84910
8,Educational instruction and library occupations,25-0000,9744.7,10185.6,441.0,4.5,52380
9,"Arts, design, entertainment, sports, and media...",27-0000,2923.6,2997.6,73.9,2.5,53150
10,Healthcare practitioners and technical occupat...,29-0000,9133.7,9967.3,833.6,9.1,69870
11,Healthcare support occupations,31-0000,7013.4,8598.1,1584.8,22.6,29960
12,Protective service occupations,33-0000,3615.9,3711.1,95.2,2.6,43710
13,Food preparation and serving related occupations,35-0000,13761.3,14769.7,1008.4,7.3,25500
14,Building and grounds cleaning and maintenance ...,37-0000,5664.0,5943.4,279.5,4.9,29940
15,Personal care and service occupations,39-0000,4724.1,5088.4,364.3,7.7,28120
16,Sales and related occupations,41-0000,15525.3,15222.0,-303.4,-2.0,31500
17,Office and administrative support occupations,43-0000,20633.0,19673.3,-959.7,-4.7,38720
18,"Farming, fishing, and forestry occupations",45-0000,1116.6,1115.1,-1.5,-0.1,29670
19,Construction and extraction occupations,47-0000,7349.1,7645.4,296.3,4.0,48610
20,"Installation, maintenance, and repair occupations",49-0000,6128.0,6301.3,173.3,2.8,48750
21,Production occupations,51-0000,9447.0,9023.8,-423.2,-4.5,37440
22,Transportation and material moving occupations,53-0000,13134.8,13583.6,448.9,3.4,34080

In [5]:
occupation_11_1929.drop(index=0, inplace=True)

In [ ]:
# occupation_11_1929['lables'] = occupation_11_1929['2019 National Employment Matrix code'].str.split('-').str[0]
# title_labels_dict = occupation_11_1929.set_index('lables')['2019 National Employment Matrix title'].to_dict()
# occupation_11_1929.drop(index=0, inplace=True)  # Remove the first row if it's irrelevant or a header row

In [5]:
occupation_11_1929

,2019 National Employment Matrix title,2019 National Employment Matrix code,"Employment, 2019","Employment, 2029","Employment change, numeric, 2019-29","Employment change, percent, 2019-29","Median annual wage, 2020(1)",lables
1,Management occupations,11-0000,10697.2,11202.2,505.0,4.7,109760,11
2,Business and financial operations occupations,13-0000,9016.3,9492.5,476.2,5.3,72250,13
3,Computer and mathematical occupations,15-0000,4845.1,5432.4,587.4,12.1,91350,15
4,Architecture and engineering occupations,17-0000,2728.9,2803.7,74.8,2.7,83160,17
5,"Life, physical, and social science occupations",19-0000,1460.3,1528.5,68.2,4.7,69760,19
6,Community and social service occupations,21-0000,2797.7,3146.3,348.6,12.5,47520,21
7,Legal occupations,23-0000,1335.6,1403.2,67.6,5.1,84910,23
8,Educational instruction and library occupations,25-0000,9744.7,10185.6,441.0,4.5,52380,25
9,"Arts, design, entertainment, sports, and media...",27-0000,2923.6,2997.6,73.9,2.5,53150,27
10,Healthcare practitioners and technical occupat...,29-0000,9133.7,9967.3,833.6,9.1,69870,29
11,Healthcare support occupations,31-0000,7013.4,8598.1,1584.8,22.6,29960,31
12,Protective service occupations,33-0000,3615.9,3711.1,95.2,2.6,43710,33
13,Food preparation and serving related occupations,35-0000,13761.3,14769.7,1008.4,7.3,25500,35
14,Building and grounds cleaning and maintenance ...,37-0000,5664.0,5943.4,279.5,4.9,29940,37
15,Personal care and service occupations,39-0000,4724.1,5088.4,364.3,7.7,28120,39
16,Sales and related occupations,41-0000,15525.3,15222.0,-303.4,-2.0,31500,41
17,Office and administrative support occupations,43-0000,20633.0,19673.3,-959.7,-4.7,38720,43
18,"Farming, fishing, and forestry occupations",45-0000,1116.6,1115.1,-1.5,-0.1,29670,45
19,Construction and extraction occupations,47-0000,7349.1,7645.4,296.3,4.0,48610,47
20,"Installation, maintenance, and repair occupations",49-0000,6128.0,6301.3,173.3,2.8,48750,49
21,Production occupations,51-0000,9447.0,9023.8,-423.2,-4.5,37440,51
22,Transportation and material moving occupations,53-0000,13134.8,13583.6,448.9,3.4,34080,53

In [ ]:
# title_labels_dict

{'00': 'Total, all occupations',
 '11': 'Management occupations',
 '13': 'Business and financial operations occupations',
 '15': 'Computer and mathematical occupations',
 '17': 'Architecture and engineering occupations',
 '19': 'Life, physical, and social science occupations',
 '21': 'Community and social service occupations',
 '23': 'Legal occupations',
 '25': 'Educational instruction and library occupations',
 '27': 'Arts, design, entertainment, sports, and media occupations',
 '29': 'Healthcare practitioners and technical occupations',
 '31': 'Healthcare support occupations',
 '33': 'Protective service occupations',
 '35': 'Food preparation and serving related occupations',
 '37': 'Building and grounds cleaning and maintenance occupations',
 '39': 'Personal care and service occupations',
 '41': 'Sales and related occupations',
 '43': 'Office and administrative support occupations',
 '45': 'Farming, fishing, and forestry occupations',
 '47': 'Construction and extraction occupations',
 '49': 'Installation, maintenance, and repair occupations',
 '51': 'Production occupations',
 '53': 'Transportation and material moving occupations'}

In [7]:
occupation_11_2333
occupation_11_2333.drop(index=0, inplace=True)

In [8]:
occupation_11_2333

,2023 National Employment Matrix title,2023 National Employment Matrix code,"Employment, 2023","Employment, 2033","Employment change, numeric, 2023–33","Employment change, percent, 2023–33","Median annual wage, dollars, 2023[1]"
1,Management occupations,11-0000,13181.3,14140.9,959.6,7.3,116880
2,Business and financial operations occupations,13-0000,10977.2,11738.5,761.3,6.9,79050
3,Computer and mathematical occupations,15-0000,5417.6,6116.7,699.0,12.9,104200
4,Architecture and engineering occupations,17-0000,2639.7,2819.7,180.0,6.8,91420
5,"Life, physical, and social science occupations",19-0000,1574.1,1691.7,117.6,7.5,78280
6,Community and social service occupations,21-0000,3044.7,3291.7,247.0,8.1,52000
7,Legal occupations,23-0000,1394.4,1446.2,51.8,3.7,99220
8,Educational instruction and library occupations,25-0000,9579.9,9731.2,151.3,1.6,59940
9,"Arts, design, entertainment, sports, and med...",27-0000,3073.1,3203.2,130.1,4.2,58920
10,Healthcare practitioners and technical occup...,29-0000,9781.6,10623.3,841.7,8.6,80820
11,Healthcare support occupations,31-0000,7516.9,8659.3,1142.4,15.2,36140
12,Protective service occupations,33-0000,3630.7,3704.7,74.0,2.0,47760
13,Food preparation and serving related occupat...,35-0000,13580.3,14167.2,586.8,4.3,32240
14,Building and grounds cleaning and maintenanc...,37-0000,5640.5,5817.4,176.9,3.1,35990
15,Personal care and service occupations,39-0000,4346.2,4622.3,276.1,6.4,34260
16,Sales and related occupations,41-0000,14609.5,14319.5,-290.0,-2.0,36760
17,Office and administrative support occupations,43-0000,19671.9,18975.6,-696.3,-3.5,44480
18,"Farming, fishing, and forestry occupations",45-0000,982.9,964.5,-18.4,-1.9,35520
19,Construction and extraction occupations,47-0000,7338.3,7752.3,414.0,5.6,55680
20,"Installation, maintenance, and repair occupa...",49-0000,6460.3,6803.5,343.3,5.3,53920
21,Production occupations,51-0000,9093.6,8999.5,-94.1,-1.0,43630
22,Transportation and material moving occupations,53-0000,14315.1,15000.1,685.1,4.8,40050

In [ ]:
# Create a dictionary from the two columns
title_labels_dict = occupation_11_1929.set_index('lables')['2019 National Employment Matrix title'].to_dict()
# Check the dictionary
education_53_1929['lables'] = education_53_1929['2019 National Employment Matrix code'].str.split('-').str[0]
education_53_1929['Title Labels'] = education_53_1929['lables'].map(title_labels_dict)

education_53_2333['lables'] = education_54_2333['2023 National Employment Matrix code'].str.split('-').str[0]
education_53_2333['Title Labels'] = education_53_2333['lables'].map(title_labels_dict)

education_54_1929['lables'] = education_54_1929['2019 National Employment Matrix code'].str.split('-').str[0]
education_54_1929['Title Labels'] = education_54_1929['lables'].map(title_labels_dict)

education_54_2333['lables'] = education_54_2333['2023 National Employment Matrix code'].str.split('-').str[0]
education_54_2333['Title Labels'] = education_54_2333['lables'].map(title_labels_dict)

In [ ]:
education_53_1929

In [ ]:
education_53_1929['2019 National Employment Matrix title'] = education_53_1929[
    '2019 National Employment Matrix title'
].str.replace(r'\(.*?\)', '', regex=True).str.strip()

education_53_1929

In [ ]:
education_53_2333

In [ ]:
education_53_2333['2023 National Employment Matrix title'] = education_53_2333[
    '2023 National Employment Matrix title'
].str.replace(r'\[.*?\]', '', regex=True).str.strip()

education_53_2333

In [ ]:
import dataprocessing as dp
file_path = "Datasets/2019-29/education.xlsx"
file_path2 = "Datasets/2023-33/education.xlsx"
file_path3 = "Datasets/2019-29/occupation.xlsx"

#dataframes = dp.process_and_clean_data(file_path, file_path2, file_path3)

dataframes = dp.process_and_clean_data()

In [ ]:

def my_graph(dataframes):
    get_yours = dataframes['oesm_national_M2023_dl_23']

    
    return fig

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

numerical_columns = [
    "High school diploma or equivalent", 
    "Some college, no degree", 
    "Associate's degree",
    "Bachelor's degree", 
    "Master's degree", 
    "Doctoral or professional degree"
]

correlation_matrix = education_53_1929[numerical_columns].corr()

plt.figure(figsize=(8, 6))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f", cbar=True, square=True)
plt.title('Feature Correlation Matrix')
plt.show()

Correlation Metrics:

0: no correlation at all

0-0.3: weak correlation

0.3-0.7: moderate correlation

0.7-1: strong correlation

Positive Correlation indicates that when one variable increase, the other also does. Negative is the opposite.

Random Forest can handle correlated features without much issue

In [ ]:
education_53_2333 = education_53_2333.dropna()

In [ ]:
education_53_2333.info()

In [ ]:
education_53_2333.describe()

In [ ]:
education_53_2333.isnull().sum()

In [ ]:
education_53_2333.duplicated().sum()

In [ ]:
education_53_2333.drop(['2023 National Employment Matrix code', 'lables'], axis=1, inplace=True)

In [ ]:
education_53_2333

In [ ]:
numerical_cols = ['Less than high school diploma', 'High school diploma or equivalent', 
                  'Some college, no degree', 'Associate\'s degree', 'Bachelor\'s degree', 
                  'Master\'s degree', 'Doctoral or professional degree']

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

scaler = StandardScaler()
normalized_data = scaler.fit_transform(education_53_2333[numerical_cols])

pca = PCA(n_components=2)  
principal_components = pca.fit_transform(normalized_data)


pca_df = pd.DataFrame(data=principal_components, columns=['Principal Component 1', 'Principal Component 2'])

pca_df['Title Labels'] = education_53_2333['Title Labels']

In [ ]:
print(f"Explained variance ratio: {pca.explained_variance_ratio_}")
print(f"Total variance explained: {sum(pca.explained_variance_ratio_)}")

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [ ]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(pca_df[['Principal Component 1', 'Principal Component 2']], 
                                                    pca_df['Title Labels'], 
                                                    test_size=0.2, random_state=42)

# Initialize the Random Forest Classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the model
rf_classifier.fit(X_train, y_train)

# Predict on the test set
y_pred = rf_classifier.predict(X_test)

# Evaluate the model
print(classification_report(y_test, y_pred))

In [ ]:
# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LogisticRegression
# from sklearn.metrics import classification_report
# from sklearn.ensemble import RandomForestClassifier

# X = education_53_2333[numerical_cols]
# y = education_53_2333['Title Labels']

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


# clf = RandomForestClassifier(n_estimators=100, random_state=42)

# clf.fit(X_train, y_train)


# y_pred = clf.predict(X_test)\
    


# print(classification_report(y_test, y_pred))

In [ ]:
education_53_2333.shape

In [ ]:
unique_values = education_53_2333['2023 National Employment Matrix title'].unique()

# Print unique values
print(unique_values)

performance is bad
possible reasons

- imbalanced dataset
- feature selection?

high precision indicates that when the model predicts a class, it's likely correct
high recall means the model is good at identifying instances of the class

In [ ]:
import dataprocessing as dp
datframes = dp.process_and_clean_data()